/*
    This is the main CSS file which will retrieve the other SCSS files and convert them into one CSS
*/
/*
Colours
*/
/*Center any object to the the center of the page*/
/*
    Base Page for CSS which will give some standard style for the whole site
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /*Allow for smooth scrolling from one section to another*/
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%; }

/*Fonts*/
@font-face {
  font-family: AlmondFont;
  src: url(/Fonts/Almond-Nougat.ttf); }

@font-face {
  font-family: CinzelFont;
  src: url(/Fonts/Cinzel-Regular.otf); }

/*This is the main section, it consists of a navbar, Video clip, information, and a booking button*/
.MainSection {
  position: relative;
  height: 100vh;
  /*Overlapping the image with a two tone gradient (grey->yellow)*/
  background: linear-gradient(rgba(42, 46, 52, 0.7), rgba(251, 225, 52, 0.5)), url("/Images/pic13.jpg");
  background-size: cover; }
  .MainSection .Title {
    position: absolute;
    /*Use of mixin*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 7vh;
    color: white;
    font-family: "CinzelFont"; }
  .MainSection .Info {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -60%);
    font-size: 3vh;
    color: white;
    font-family: "CinzelFont";
    text-align: center; }

.AboutUsSection {
  position: relative;
  height: 100vh;
  background: white; }
  .AboutUsSection .Container {
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 65%; }
  .AboutUsSection .PortraitImage {
    position: relative;
    float: left;
    width: 33.33%;
    height: 100%;
    display: inline-block;
    padding: 1%; }
  .AboutUsSection .InfoPortrait {
    position: relative;
    float: left;
    width: 33.33%;
    height: 100%;
    display: inline-block;
    padding: 1%;
    text-transform: none;
    font-family: "CinzelFont"; }
    .AboutUsSection .InfoPortrait .Title {
      text-transform: uppercase;
      font-size: 7vh;
      padding-bottom: 2%;
      text-shadow: -2px 0px 2px #e4b61a; }
    .AboutUsSection .InfoPortrait .Info {
      text-align: left;
      padding-top: 5%;
      font-size: 1.8vh;
      padding-right: 10%; }
    .AboutUsSection .InfoPortrait .MenuButton {
      position: absolute;
      bottom: 6%;
      text-decoration: none;
      color: #e4b61a;
      font-size: 2vh;
      font-weight: 600;
      /*On hover highight the hovered element using a shadow*/ }
      .AboutUsSection .InfoPortrait .MenuButton:hover {
        text-shadow: 1px 1px #595e65; }

.MenuSection {
  position: relative;
  height: 100vh;
  width: 100%;
  color: #595e65;
  font-family: "CinzelFont";
  /*By default keep the food menu open*/ }
  .MenuSection .Title {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    height: auto;
    font-size: 7vh; }
  .MenuSection .MenuBtnContainer {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    width: 100%;
    text-align: center; }
    .MenuSection .MenuBtnContainer a {
      text-decoration: none;
      font-size: 4vh; }
    .MenuSection .MenuBtnContainer .BtnBox {
      border: 2px solid #e9eaec;
      padding: 1%;
      margin: 1%; }
      .MenuSection .MenuBtnContainer .BtnBox:hover {
        border: 2px solid #595e65; }
  .MenuSection .MenuContainer {
    position: absolute;
    top: 35%;
    left: 50%;
    width: 100%;
    height: 60%;
    font-size: 2.5vh;
    font-family: "CinzelFont";
    color: #595e65;
    transform: translateX(-50%);
    opacity: 0; }
  .MenuSection #FoodContainer {
    opacity: 1; }

.IntervalSection {
  position: relative;
  height: 95vh;
  /*Overlapping the image with a two tone gradient (grey->yellow)*/
  background: linear-gradient(rgba(42, 46, 52, 0.7), rgba(251, 225, 52, 0.5)), url("/Images/pic6.jpg");
  background-size: cover; }
  .IntervalSection .Title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -60%);
    font-size: 7vh;
    color: white;
    font-family: "CinzelFont"; }
  .IntervalSection .Info {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    font-size: 3vh;
    color: white;
    font-family: "CinzelFont";
    text-align: center; }

.GallerySection {
  position: relative;
  height: 100vh;
  /* Create four equal columns that sits next to each other */ }
  .GallerySection .rows {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 10%;
    left: 55%;
    width: 90%;
    transform: translateX(-50%); }
  .GallerySection .columns {
    flex: 25%;
    max-width: 30%;
    padding: 0 10px; }
  .GallerySection .columns img {
    margin-top: 20px;
    vertical-align: middle;
    align-content: center;
    width: 100%; }

.BtnCSS {
  /*This is the yellow outline around the circle button*/
  /*Changes the background and the outline shadow*/
  /*On hover changes the background*/
  /*Changes the Play icon to Dark grey on hover*/
  /*Changes the border to dark grey on hover*/ }
  .BtnCSS::before, .BtnCSS::after {
    /*Need to assign content*/
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: '';
    transition: all 0.25s ease;
    border-radius: 50%; }
  .BtnCSS::after {
    box-shadow: inset 0 0 0 3px #e4b61a; }
  .BtnCSS::before {
    background: #595e65;
    box-shadow: inset 0 0 0 60px #595e65; }
  .BtnCSS:hover::before {
    box-shadow: inset 0 0 0 3px #595e65;
    background: #e4b61a; }
  .BtnCSS:hover a {
    color: #595e65; }
  .BtnCSS:hover::after {
    box-shadow: inset 0 0 0 3px #595e65; }

/*This si the play button, located on the main page*/
.PlayBtnMain {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  border-radius: 50%; }
  .PlayBtnMain .PlayButton {
    position: absolute;
    top: 55%;
    left: 58%;
    transform: translate(-50%, -50%);
    font-size: 5vh;
    color: #e4b61a;
    transition: all 0.25s ease;
    z-index: 5; }

.ReserveBtn {
  /*Container CSS for the reserve button*/
  position: absolute;
  display: flex;
  top: 85%;
  left: 50%;
  width: 10%;
  transform: translateX(-50%);
  /*Allow for smooth animated transition*/
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
  text-align: center; }
  .ReserveBtn .Reserve {
    width: 100%;
    position: relative;
    color: #e4b61a;
    cursor: pointer;
    font-size: 2vh;
    font-weight: 400;
    line-height: 4.9vh;
    text-decoration: none;
    text-transform: uppercase;
    background: #595e65;
    /*This is the outlined rectangle in yellow*/
    /*This is the rectangle reserve button*/
    /*On hover change colours from yellow to blue and vice versa*/ }
    .ReserveBtn .Reserve svg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 4.9vh; }
    .ReserveBtn .Reserve rect {
      stroke: #e4b61a;
      stroke-width: 2;
      /*transitioning when hovered*/
      transition: all 0.35s linear; }
    .ReserveBtn .Reserve:hover {
      color: #595e65;
      background: #e4b61a;
      text-decoration: none; }
      .ReserveBtn .Reserve:hover rect {
        stroke-width: 5;
        stroke: #595e65;
        /*Dash effects when hovered, dashing spacing etc*/
        stroke-dasharray: 15, 20;
        stroke-dashoffset: 408;
        transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1); }

/*This is the close button located on the popup from the main section*/
.CloseBtnMain {
  position: absolute;
  right: 5%;
  top: -3%;
  width: 3rem;
  height: 3rem;
  font-size: .875rem;
  border-radius: 100%;
  line-height: 3rem;
  text-align: center;
  cursor: pointer;
  text-decoration: none; }
  .CloseBtnMain::before, .CloseBtnMain::after {
    content: 'X'; }

/*This popup is from the first main section which appears after you click the play button*/
.PopupBackground {
  position: absolute;
  top: 0%;
  left: 0%;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  /*Transition for when opening and closing*/
  transition: .64s ease-in-out; }

.PopupMain {
  /*ClosePopup X*/
  position: relative;
  display: flex;
  width: 50%;
  height: 50%;
  /*Transitioning when clicked to rotate clockwise*/
  transform: rotate(32deg);
  transition: .64s ease-in-out; }
  .PopupMain a {
    text-decoration: none;
    color: #e4b61a;
    font-size: 2vh;
    background-color: aqua; }

.PopupBackground:target {
  visibility: visible;
  opacity: 1; }

.PopupBackground:target .PopupMain {
  bottom: 0;
  right: 0;
  transform: rotate(0); }

/*This is the floating Navigation bar that is on every page except for the main section*/
/*This CSS is for the nav link called Dishy, as I wanted it to have different CSS applied than the other Nav links*/
#Dishy {
  /*Pre created font*/
  font-family: "AlmondFont";
  font-size: 8vh;
  text-transform: none;
  color: #e4b61a; }

/*Main Section Nav Bar*/
.NavList {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translateX(-50%);
  height: 10%; }
  .NavList .NavLinks {
    width: 100%;
    height: 10%;
    display: flex;
    list-style: none; }
    .NavList .NavLinks .Links {
      width: auto;
      height: 10%;
      padding-right: 3vh;
      text-transform: uppercase;
      font-family: "CinzelFont"; }
    .NavList .NavLinks a {
      text-decoration: none;
      color: white;
      line-height: 10%;
      font-size: 3vh; }
    .NavList .NavLinks a:hover {
      color: #fbe134; }

/*Other Sections Nav Bar*/
.NavigationBar {
  /*This allows the nav bar to stay in play on the top of the screen*/
  position: sticky;
  top: 0;
  background: linear-gradient(to bottom, #dfeaec 90%, #e4b61a 100%);
  text-align: center;
  /*This allows the navbar to be on top of other elements */
  z-index: 5;
  /*On hover highight the hovered element using a shadow and colour change*/ }
  .NavigationBar a {
    font-family: "CinzelFont";
    font-size: 4vh;
    color: #595e65;
    text-align: center;
    text-decoration: none;
    /*Top Right Bottom Left*/
    padding: 1% 1.5% 1% 1.5%; }
  .NavigationBar a:hover {
    color: #fbe134;
    text-shadow: 2px 2px #595e65; }

.FlexContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding-left: 3%; }

.Flex {
  width: 50%;
  height: 100%;
  margin: 5px;
  padding: 5px; }

.InnerFlexContainer {
  display: flex;
  flex-direction: row;
  height: 100%; }

.InnerFlexLeft {
  height: 100%;
  width: 80%; }

.InnerFlexRight {
  text-align: center;
  width: 20%;
  height: 100%; }
