.CustomerReviewsSection {
    @include PageSize;
    background-color: rgba(251, 225, 52, .4);

    .ReviewContainer {
        .Review {  
            text-align: center;

            .Icon {
                position: absolute;
                top: 15%;
                left: 50%;
                transform: translateX(-50%);

                font-size: 6vh;
                color: $Mustard;
            }

            .Info {
                position: absolute;
                top: 30%;

                padding: 0 2% 0 2%;
                font-size: 2.5vh;
                font-family: "CinzelFont";
                color: $Dark-Grey;
            }

            .ProfilePic {
                position: absolute;
                top: 65%;
                left: 50%;
                transform: translateX(-50%);
                width: 20%;
                height: 20%;

                border-radius: 30px/30px;
            }

            .Name {
                position: absolute;
                top: 88%;
                left: 50%;
                transform: translateX(-50%);

                font-size: 2.5vh;
                font-family: "CinzelFont";
                color: $Dark-Grey;
            }

            .Handle {
                position: absolute;
                top: 93%;
                left: 50%;
                transform: translateX(-50%);

                color: $Dark-Blue;
                font-size: 2vh;
                font-family: "CinzelFont";
            }

        }








    }
}
