.OneRow {
    position: absolute;
    width: 70%;
    height: 60%;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;

    .ThreeCol {
        position: relative;
        width: 33.33%;
        height: 100%;
        top: 0%;
        left: 0%;
        
    }
}
