/*This is the floating Navigation bar that is on every page except for the main section*/
/*This CSS is for the nav link called Dishy, as I wanted it to have different CSS applied than the other Nav links*/
#Dishy {
    /*Pre created font*/
    font-family: "AlmondFont";
    font-size: 8vh;
    text-transform: none;
    color: $Mustard;
}

/*Main Section Nav Bar*/
.NavList {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    height: 10%;
    
    .NavLinks {
        width: 100%;
        height: 10%;

        display: flex;
        list-style: none;

        .Links {
            width: auto;
            height: 10%;

            padding-right: 3vh;
            text-transform: uppercase;
            font-family: "CinzelFont";
        }

        & a {
            text-decoration: none;
            color: white;
            line-height: 10%;
            font-size: 3vh;
        }

        & a:hover {
            color: rgb(251, 225, 52);
        }
    }


}


/*Other Sections Nav Bar*/
.NavigationBar {
    /*This allows the nav bar to stay in play on the top of the screen*/
    position: sticky;
    top: 0;

    background: linear-gradient(to bottom, #dfeaec 90%, #e4b61a 100%);
    
    text-align: center;

    /*This allows the navbar to be on top of other elements */
    z-index: 5;

    a {
        font-family: "CinzelFont";
        font-size: 4vh;
        color: $Dark-Grey;
        text-align: center;
        text-decoration: none;
        /*Top Right Bottom Left*/
        padding: 1% 1.5% 1% 1.5%;
    }

    /*On hover highight the hovered element using a shadow and colour change*/
    & a:hover {
        color: rgb(251, 225, 52);
        text-shadow: 2px 2px $Dark-Grey;
    }
}
