/*This popup is from the first main section which appears after you click the play button*/
.PopupBackground {
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    visibility: hidden;
    opacity: 0;

    /*Transition for when opening and closing*/
    transition: .64s ease-in-out;
}

.PopupMain {

    /*ClosePopup X*/
    a {
        text-decoration: none;
        color: $Mustard;
        font-size: 2vh;
        background-color: aqua;
    }

    position: relative;
    display: flex;
    width: 50%;
    height: 50%;

    /*Transitioning when clicked to rotate clockwise*/
    transform: rotate(32deg);
    transition: .64s ease-in-out;
}


.PopupBackground:target {
    visibility: visible;
    opacity: 1;
}

.PopupBackground:target .PopupMain {
    bottom: 0;
    right: 0;
    transform: rotate(0);
}