/*This is the close button located on the popup from the main section*/
.CloseBtnMain {
    position: absolute;
    right: 5%;
    top: -3%;
    width: 3rem;
    height: 3rem;
    font-size: .875rem;
    border-radius: 100%;
    line-height: 3rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;

    &::before,
    &::after {
        content: 'X';
    }
}
