.AboutUsSection {

    @include PageSize;
    background: white;

    .Container {
        position: absolute;
        @include CenterFix;
        width: 75%;
        height: 65%;
    }

    .PortraitImage {
        position: relative;
        float: left;
        width: 33.33%;
        height: 100%;
        display: inline-block;
        padding: 1%;

    }

    .InfoPortrait {
        position: relative;
        float: left;
        width: 33.33%;
        height: 100%;
        display: inline-block;
        padding: 1%;

        text-transform: none;
        font-family: "CinzelFont";

        .KitchenTitle {
            color: $Dark-Grey;
            text-transform: uppercase;
            font-size: 7vh;
            padding-bottom: 2%;
            text-shadow: -2px 0px 2px rgba(228, 182, 26, 1);
        }

        .KitchenInfo {
            color: $Dark-Grey;
            text-align: left;
            font-size: 2vh;
            padding-right: 10%;
        }

        .MenuButton {
            position: absolute;
            bottom: 1%;
            text-decoration: none;
            color: $Mustard;
            font-size: 2vh;
            font-weight: 600;

            /*On hover highight the hovered element using a shadow*/
            &:hover {
                text-shadow: 1px 1px $Dark-Grey;
            }   
        }
    }
}
