/*This section displays a map of where the company is located and also a quick form*/
.ContactSection {
    @include PageSize;

    /*Overlapping the image with a two tone gradient (grey->yellow)*/
    background: linear-gradient(rgba(42, 46, 52, .2), rgba(251, 225, 52, 0.5)), url("Assets/Images/pic14.jpg");


    .Map {
        position: absolute;
        top: 25%;
        left: 55%;
        width: 40%;
        height: 60%;
        
        float: right;
     
        .Contents{
            width: 100%;
            height: 100%;
            
            border-radius: 50px;
        }
    }

    .QueryForm {
        position: absolute;
        top: 25%;
        left: 5%;
        width: 40%;
        height: 60%;
        background-color: $White-Grey;
        
        font-size: 2vh;
        font-family: "CinzelFont";
        color: $Dark-Grey;
        font-weight: 800;
        border-radius: 50px;

        .FormName {
            position: absolute;
            top: 5%;
            left: 50%;

            font-size: 6vh;
            color: $Mustard;
            font-family: "CinzelFont";
        }
        
        .Input {
                position: absolute;
                top: 150%;
                left: 0%;
            
                color: $Dark-Grey;
            }

        .NameField {
            position: absolute;
            top: 20%;
            left: 10%;
        }

        .EmailField {
            position: absolute;
            top: 40%;
            left: 10%
        }

        .MessageField {
            position: absolute;
            top: 60%;
            left: 10%;

            .MessageInput {
                height: 350%;
                width: 350%;
            }
        }
    }
}
