.EventsSection {
    @include PageSize;
    background-color: $White-Grey;

    .Title {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translateX(-50%);

        font-size: 7vh;
        color: $Mustard;
        font-family: "CinzelFont";
    }

    .EventsContainer {
        position: absolute;
        width: 70%;
        height: 60%;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;


        .Event {
            background-color: white;
            border-right: 25px solid $White-Grey;

            .DayPic {
                position: absolute;
                top: 0%;
                left: 0%;
                width: 100%;
                height: 50%;
            }
            
            .Date{
                position: absolute;
                top: 60%;
                left: 5%;
                width: 100%;
                height: auto;
                
                font-size: 2vh;
                font-family: "CinzelFont";
                color: $Dark-Grey;
            }
            
            .Day{
                position: absolute;
                top: 65%;
                left: 5%;
                width: 100%;
                height: auto;
                
                font-size: 2vh;
                font-family: "CinzelFont";
                color: $Mustard;
            }
            
            .EventInfo{
                position: absolute;
                top: 72%;
                left: 5%;
                width: 90%;
                height: auto;
                
                font-size: 1.7vh;
                font-family: "CinzelFont";
                color: $Dark-Grey;
            }
        }
    }
}
