/*
    Base Page for CSS which will give some standard style for the whole site
*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /*Allow for smooth scrolling from one section to another*/
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 62.5%;
}

/*Fonts*/
@font-face {
    font-family: AlmondFont;
    src: url(/Fonts/Almond-Nougat.ttf);
}

@font-face {
    font-family: CinzelFont;
    src: url(/Fonts/Cinzel-Regular.otf);
}

.Title {
    position: absolute;
    /*Use of mixin*/
    @include CenterFix;
    
    color: $White-Grey;
    font-size: 7vh;
    font-family: "CinzelFont";
}

.TitleTop{
    position: absolute;
        top: 15%;
        left: 50%;
        transform: translateX(-50%);

        font-size: 7vh;
        color: $Mustard;
        font-family: "CinzelFont";
}


