.GallerySection {
    @include PageSize;
    height: 290vh;
    
    background: $White-Grey;
    
    .rows {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top: 5%;
        left: 55%;
        width: 90%;
        transform: translateX(-50%);
        
    }

    /* Create four equal columns that sits next to each other */
    .columns {
        flex: 25%;
        max-width: 30%;
        padding: 0 10px;
    }

    .columns img {
        margin-top: 20px;
        vertical-align: middle;
        align-content: center;
        width: 100%;
    }

    
}
